<html>
  <head>
    <title>Places You've Been</title>
  </head>
    <body>
      <h1>You've added a city!</h1>
      <p>{{ newcity.getCityName }}</p>
      <p>Duration of Days: </p>
      <p>{{ newcity.getLengthOfTime }}</p>
      <p><a href='/'>View Your Cities</a></p>
    </body>
</html>
