<html>
  <head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
    <title>Places You've Been</title>
  </head>
    <body>
      <h1>You've added a city!</h1>
      <h3>{{ newcity.getCityName }}</h3>
      <p>Duration of Days: </p>
      <p>{{ newcity.getLengthOfTime }}</p>
      <p>Reason for Visiting: </p>
      <p>{{ newcity.getReasonOfVisit }}</p>
      <p>Photo of the City: </p>
      <p><img src= {{ newcity.getImagePath }} width= 35%></p>
      <p><a href='/'>View Your Cities</a></p>
    </body>
</html>
