<html>
  <head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
    <title>Places You've Been</title>
  </head>
    <body>
      <h1>Cities Cleared</h1>
      <p><a href='/'>Home</a></p>
    </body>
</html>
